.container {
    width: 100%;
    max-width: 55.1875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4.375rem;
    
}

.titleabout {
    width: 100%;
    max-width: 20rem;
}

@media (max-width: 390px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 1rem;
    }

    .para {
        width: 100%;
        max-width: 24rem;
    }
}