.btn {
    width: 8.125rem;
    height: 2.44rem;

    border-radius: 12px;
    border: .07rem solid #000;

    background: var(--color-primary);

    color: #FFF;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 600;
}

.btn:hover {
    width: 8.125rem;
    height: 2.44rem;

    border-radius: 0.75rem;
    border: 0.07rem solid #000;

    background: var(--color-primary-hover);
}
