:root {
    --color-black: #000;
    --color-primary: #27AE60;
    --color-secondary: #EB5757;
    --color-gray-600: #333333;
    --color-gray-300: #828282;
    --color-gray-100: #E0E0E0;
    --color-gray-0: #F5F5F5;
    --font-primary: "Inter", sans-serif;
    background-color: #fff;
}