.container {
    width: 100%;
    max-width: 108rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  
    margin-inline: auto;
    margin-left: 5rem;
    margin-top: 1.5625rem;
    margin-bottom: 6.125rem;
}

@media (max-width: 420px) {
    .container {
        max-width: 26.25rem;
        width: 100%;
        max-height: 21.625rem;

        display: flex;
        margin-left: 0.8rem;
        margin-top: 4rem;
    } 
}