.Heading1 {
    color: var(--color-gray-600);
    font-family: var(--font-primary);
    font-weight: 800;
    line-height: 3.125rem;
    font-size: 1.625rem;
}

.Heading2 {
    color: var(--color-gray-600);
    font-family: var(--font-primary);
    font-weight: 800;
    line-height: 3.125rem;
    font-size: 1.375rem;
}

.Heading3 {
    color: var(--color-gray-600);
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 3.125rem;
    font-size: 1.125rem;
}

.Headline {
    color: var(--color-gray-300);
    font-family: var(--font-primary);
    font-weight: 800;
    line-height: 3.125rem;
    font-size: 1rem;
}

.Body {
    color: var(--color-gray-300);
    font-family: var(--font-primary);
    font-weight: 600;
    line-height: 3.125rem;
    font-size: 0.875rem;
}

.Body-600 {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-weight: 600;
    line-height: 3.125rem;
    font-size: 0.875rem;
}

.Caption {
    color: var(--color-gray-300);
    font-family: var(--font-primary);
    font-weight: 600;
    line-height: 3.125rem;
    font-size: 0.75rem;
}