.itemDiv {
    max-height: 5rem;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // gap: 3rem;
    margin-bottom: 1rem;

    .box {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        align-content: center;
        gap: 1rem;
    }
    
    .imgContainer {       
        max-width: 5rem;
        max-height: 5rem;
        width: 100%;
        height: 100%;

        background-color: var(--color-gray-100);

        border-radius: .3125rem;
    }

    img {
        max-width: 3.4375rem;
        max-height: 3.3431rem;
        width: 100%;
        height: 100%;

        display: flex;
        padding: .8125rem .8287rem .75rem .875rem;
        justify-content: center;
        align-items: center;
    }
}

.itemText {
    width: 16.25rem;
    height: 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: left;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn {
    position: relative;
    border: 0rem;
    color: #BDBDBD;
    background: #FFF;
}

@media (max-width: 420px) {
    .itemDiv {
        max-width: 16rem;
        width: 100%;

        margin-left: 3rem;
    }
}